@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{  
    ViewData["Title"] = "Списък със студенти";
}

@{
    var successMessage = TempData["SuccessMessage"] as string;
    var deleteMessage = TempData["SuccessMessage"] as string;
    var saveMessgae = TempData["SuccessMessage"] as string;
}
@if (!string.IsNullOrEmpty(successMessage))
{
<div class="toast-container position-fixed top-0 end-0 p-lg-4" style="z-index: 1050;">
    <div class="toast show align-items-center text-white bg-success border-0 shadow-lg rounded-3" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body d-flex align-items-center gap-2">
                <span style="font-size: 1.2rem;">✅</span>
                <span>@successMessage</span>
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<script>
    setTimeout(() => {
        const toastEl = document.querySelector('.toast');
        if (toastEl) {
            const toast = new bootstrap.Toast(toastEl);
            toast.hide();
        }
    }, 5000);
</script>
}


@model List<StudentPortal.Web.Models.Entities.Student>


<h1>Students</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
       @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>
                    <a class="btn btn-primary"asp-controller="Students" asp-action="Edit" asp-route-id ="@student.Id">Edit</a>
                </td>
            </tr>
           
        }
    </tbody>

</table>